
$primary: #3498db;
$light: #ecf0f1;
$dark: #2c3e50;
$font: "Inter", sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $light;
  font-family: $font;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $dark;
  padding: 2% 10%;
  position: relative;
}

h1, h4, label, input, p {
  text-align: center;
  width: 100%;
}

h1 {
  color: $light;
  margin-bottom: 5px;
}

h4 {
  opacity: 0.6;
  margin-bottom: 10px;
}

label {
  color: rgba($primary, 0.5);
  margin-top: 10px;
  display: block;
  margin-bottom: 5px;
}

input {
  border: 2px solid $primary;
  width: 60%;
  padding: 10px 15px;
  outline: none;
  border-radius: 25px;
  font-family: $font;
  color: $light;
  background-color: $dark;
  margin-bottom: 20px;
}

input:focus {
  border-color: $light; 
  background-color: rgba($light, 0.1);
  box-shadow: 0 0 10px rgba($light, 0.5);
}

#correct-container {
  clip-path: circle(0 at 0 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    border-radius: 50%;
    color: white;
    width: 150px;
    height: 150px;
  }
}

body.correct #correct-container {
  clip-path: circle(150% at 0 50%);
}

#skip-button {
    background-color: $primary;
    color: $light;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($primary, 10%);
    }

    @media only screen and (max-width: 600px) {
        width: 90%;
        margin-top: 10px;
    }
}

.game-rules {
    color: $light;
    width: 60%;
    margin: 20px auto;
    text-align: center;

    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}

#github-link {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary;
  color: $light;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

#github-link:hover {
  background-color: darken($primary, 10%);
}
